<kendo-grid #grid [data]="products">
  <ng-template *ngIf="!isEditMode" kendoGridToolbarTemplate>
    <button (click)="onEdit()" class="k-button k-primary">Edit</button>
  </ng-template>
  <ng-template *ngIf="isEditMode" kendoGridToolbarTemplate>
    <button (click)="onAdd()" class="k-button">Add</button>
    <button (click)="onSave()" class="k-button">Save</button>
    <button (click)="onCancel()" class="k-button">Cancel</button>
  </ng-template>

  <kendo-grid-column editor='text' field="productName" title="Product Name"></kendo-grid-column>
  <kendo-grid-column editor="numeric" field="lot" title="Lot"></kendo-grid-column>
  <kendo-grid-column editor="numeric" field="article" title="Article"></kendo-grid-column>
  <kendo-grid-column editor="numeric" field="qte" title="Qte"></kendo-grid-column>
  <kendo-grid-column editor="numeric" field="tVA" title="TVA"></kendo-grid-column>
  <kendo-grid-column editor="numeric" field="priceHT" title="Unit Price HT"></kendo-grid-column>

  <kendo-grid-column *ngIf="isEditMode">
    <ng-template kendoGridCellTemplate let-rowIndex="rowIndex">
      <button (click)="onRemove(rowIndex)" class="k-button">Remove</button>
    </ng-template>
  </kendo-grid-column>
</kendo-grid>
