<div class="container-fluid">
  <app-pagetitle [breadcrumbItems]="breadCrumb.items" [title]='breadCrumb.title'></app-pagetitle>
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class='card-body'>
          <div>
            <!--  -->
            <a [routerLink]="['../create']" class="btn btn-success mb-2">
              <i class="mdi mdi-plus mr-2"></i> Add Input
            </a>

            <kendo-grid (dataStateChange)="onStateChange($event)" [data]="gridData"
                        [height]="500" [pageSize]="gridState.take" [pageable]="true"
                        [skip]="gridState.skip"
                        [sort]="gridState.sort" [sortable]="true">
              <kendo-grid-column field="supplierName" title="Supplier Name">
              </kendo-grid-column>
              <kendo-grid-column field="ref" title="Reference">
              </kendo-grid-column>
              <kendo-grid-column field="date" title="Date">
              </kendo-grid-column>
              <kendo-grid-column field="description" title="Description">
              </kendo-grid-column>
              <kendo-grid-column field="stage" title="N° Qte">
              </kendo-grid-column>
              <kendo-grid-column field="stage" title="N° Lot">
              </kendo-grid-column>
              <kendo-grid-column field="stage" title="N° Articles">
              </kendo-grid-column>

              <kendo-grid-command-column title="Options">
                <ng-template kendoGridCellTemplate>
                  <button>Export</button>
                  <button >Report</button>
                </ng-template>
              </kendo-grid-command-column>

              <div *kendoGridDetailTemplate="let dataItem">
                <app-transaction-details [inputId]='dataItem.id'></app-transaction-details>
              </div>
            </kendo-grid>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
