<div class="container-fluid">
  <app-pagetitle [breadcrumbItems]="breadCrumb.items" [title]='breadCrumb.title'></app-pagetitle>
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body">
          <aw-wizard>
            <aw-wizard-step stepTitle="Basic Info">
              <div class="tab-pane" id="basic-info">
                <h4 class="card-title">Basic Information</h4>
                <p class="card-title-desc">Fill all information below</p>

                <form [formGroup]="formGroup">
                  <div class="row">
                    <div class="col-lg-6">
                      <div class="form-group">
                        <label for="supplierName">Supplier Name</label>
                        <input class="form-control" formControlName="supplierName" id="supplierName" type="text">
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="form-group">
                        <label for="example-datetime-local-input">Date Time</label>
                        <input class="form-control" formControlName="date" id="example-datetime-local-input"
                               type="datetime-local" value="2019-08-19T13:45:00">
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="description">Description</label>
                    <textarea class="form-control" formControlName='description' id="description" rows="5"></textarea>
                  </div>
                </form>
              </div>
              <button type="button" awNextStep class="btn btn-primary">Next Step</button>
            </aw-wizard-step>

            <aw-wizard-step awOptionalStep stepTitle="Transaction Details">
              <div class="tab-pane" id="product-img">
                <h4 class="card-title">Transaction Details</h4>
                <p class="card-title-desc">enter your products</p>
                <app-transaction-details-create></app-transaction-details-create>
              </div>
              <button type="button" awPreviousStep class="btn btn-primary">Go to previous step</button>
              <button type="button" awNextStep class="btn btn-primary">Go to next step</button>
            </aw-wizard-step>

            <aw-wizard-step stepTitle="Meta Data">
              <div class="tab-pane" id="metadata">
                <h4 class="card-title">Validation</h4>
                <p class="card-title-desc">Verify that all your data are corrects</p>

                <form>
                  <h1>Validation Phase</h1>
                </form>

                <div class="text-center mt-4">
                  <button type="submit" class="btn btn-primary mr-2 waves-effect waves-light">Save Changes</button>
                  <button type="submit" class="btn btn-light waves-effect">Cancel</button>
                </div>
              </div>

              <div class="pager wizard twitter-bs-wizard-pager-link">
                <button class="btn btn-primary" awPreviousStep>Previous Step</button>
                <button type="button" class="btn btn-primary">Finish</button>
              </div>
            </aw-wizard-step>
          </aw-wizard>
        </div>
      </div>
    </div>
  </div>
</div>
