<div class="container-fluid">
  <app-pagetitle [breadcrumbItems]="breadCrumb.items" [title]='breadCrumb.title'></app-pagetitle>
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body">

          <form (ngSubmit)="submit()" [formGroup]="formGroup" class="needs-validation">
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="name">name</label>
                  <input [ngClass]="{'is-invalid': saving && form.name.errors}" class="form-control"
                         formControlName="name" id="name"
                         placeholder="name" type="text">
                  <div *ngIf="saving && form.name.errors" class="invalid-feedback">
                    <span *ngIf="form.name.errors.required">Please provide a valid name.</span>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="adresse">adresse</label>
                  <input [ngClass]="{'is-invalid': saving && form.adresse.errors}" class="form-control"
                         formControlName="adresse" id="adresse"
                         placeholder="stockRespo" type="text">
                  <div *ngIf="saving && form.adresse.errors" class="invalid-feedback">
                    <span *ngIf="form.adresse.errors.required">Please provide a valid adresse.</span>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="area">area</label>
                  <input [ngClass]="{'is-invalid': saving && form.area.errors}" class="form-control"
                         formControlName="area" id="area"
                         placeholder="area" type="number">
                  <div *ngIf="saving && form.area.errors" class="invalid-feedback">
                    <span *ngIf="form.area.errors.required">Please provide a valid area.</span>
                  </div>
                </div>
              </div>

              <div class="col-md-6">
                <div class="form-group">
                  <label for="stockRespo">stockRespo</label>
                  <input [ngClass]="{'is-invalid': saving && form.stockSecurity.errors}" class="form-control"
                         formControlName="stockRespo" id="stockRespo"
                         placeholder="stockRespo" type="number">
                  <div *ngIf="saving && form.stockRespo.errors" class="invalid-feedback">
                    <span *ngIf="form.stockRespo.errors.required">Please provide a valid stockRespo.</span>
                  </div>
                </div>
              </div>
            </div>

            <button class="btn btn-primary" type="submit">Submit</button>
            <button class="btn btn-danger" type="reset">Cancel</button>
          </form>

        </div>
      </div>
    </div>
  </div>
</div>


