<div class="container-fluid">
  <app-pagetitle [breadcrumbItems]="breadCrumb.items" [title]='breadCrumb.title'></app-pagetitle>
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body">

          <form (ngSubmit)="submit()" [formGroup]="formGroup" class="needs-validation">
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="name">name</label>
                  <input [ngClass]="{'is-invalid': saving && form.name.errors}" class="form-control"
                         formControlName="name" id="name"
                         placeholder="name" type="text">
                  <div *ngIf="saving && form.name.errors" class="invalid-feedback">
                    <span *ngIf="form.name.errors.required">Please provide a valid name.</span>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="parentId">parentId</label>
                  <input [ngClass]="{'is-invalid': saving && form.parentId.errors}" class="form-control"
                         formControlName="parentId" id="parentId"
                         placeholder="parent" type="text">
                  <div *ngIf="saving && form.parentId.errors" class="invalid-feedback">
                    <span *ngIf="form.parentId.errors.required">Please provide a valid parentId.</span>
                  </div>
                </div>
              </div>
            </div>


            <button class="btn btn-primary" type="submit">Submit</button>
            <button class="btn btn-danger" type="reset">Cancel</button>
          </form>

        </div>
      </div>
    </div>
  </div>
</div>


