/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
// @import '~bootstrap/scss/bootstrap';

/*deeppurple-amber.css
indigo-pink.css
pink-bluegrey.css
purple-green.css*/

/*@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import '~@angular/material/prebuilt-themes/purple-green.css';
@import '~@angular/material/prebuilt-themes/pink-bluegrey.css';
@import '~@angular/material/prebuilt-themes/indigo-pink.css';*/
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';


.cdk-overlay-container {
  z-index: 9999 !important;
}

.red-snackbar {
  background-color: #f83255 !important;
  text-transform: capitalize;
  text-align: center;
  font-family: "28 Days Later", serif;
  font-weight: bold;
  color: #ffffff !important;
}

.green-snackbar {
  background-color: #38ff0d !important;
  text-transform: capitalize;
  text-align: center;
  font-family: "28 Days Later", serif;
  font-weight: bold;
  color: #000000 !important;
}
