<kendo-grid

  [data]="view"
  [navigable]="true"
  kendoGridFocusable>

  <!--  <ng-template kendoGridToolbarTemplate>
      <a (click)="openModal(content)" class="btn btn-success mb-2" href="javascript:void(0);">
        <i class="mdi mdi-plus mr-2"></i>Add Transaction
      </a>
    </ng-template>-->

  <kendo-grid-column field="name" title="Product Name">
  </kendo-grid-column>
  <kendo-grid-column field="defaultStockMin" title="defaultStockMin">
  </kendo-grid-column>
  <kendo-grid-column field="defaultStockMax" title="defaultStockMax">
  </kendo-grid-column>
  <kendo-grid-column field="defaultStockSecurity" title="defaultStockSecurity">
  </kendo-grid-column>

</kendo-grid>

<!-- Contacts model  -->
<ng-template #content let-modal="close" role="document">
</ng-template>

