<div class="container-fluid">
  <app-pagetitle [breadcrumbItems]="breadCrumb.items" [title]='breadCrumb.title'></app-pagetitle>
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body">
          <aw-wizard>
            <aw-wizard-step stepTitle="Basic Info">
              <div class="tab-pane" id="basic-info">
                <h4 class="card-title">Basic Information</h4>
                <p class="card-title-desc">Fill all information below</p>

                <form [formGroup]="formGroup">
                  <div class="row">
                    <div class="col-lg-6">
                      <div class="form-group">
                        <label for="ref">input Reference</label>
                        <input [ngClass]="{'is-invalid': saving && form.ref.errors}" class="form-control"
                               formControlName="ref" id="ref"
                               placeholder="ref" type="text">
                        <div *ngIf="saving && form.ref.errors" class="invalid-feedback">
                          <span *ngIf="form.ref.errors.required">Please provide a valid ref.</span>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-lg-6">
                      <div class="form-group">
                        <label for="actorId">actor Name</label>
                        <select class="form-control select2" formControlName="actorId" id="actorId">
                          <option *ngFor='let actor of respoList' value="{{actor.id}}">{{actor.name}}</option>
                        </select>
                        <div *ngIf="saving && form.actorId.errors" class="invalid-feedback">
                          <span *ngIf="form.actorId.errors.required">Please provide a valid name.</span>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="form-group">
                        <label for="delay">Delay</label>
                        <input [ngClass]="{'is-invalid': saving && form.delay.errors}" class="form-control"
                               formControlName="ref" id="delay"
                               placeholder="delay" type="text">
                        <div *ngIf="saving && form.delay.errors" class="invalid-feedback">
                          <span *ngIf="form.delay.errors.required">Please provide a valid delay.</span>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="row" id='stockTransfer'>
                    <div class="col-lg-6">
                      <div class="form-group">
                        <label for="fromStructureUnitId">From StructureUnit</label>
                        <select class="form-control select2" formControlName="fromStructureUnitId" id="fromStructureUnitId">
                          <option *ngFor='let service of serviceList' value="{{service.id}}">{{service.name}}</option>
                        </select>
                        <div *ngIf="saving && form.fromStructureUnitId.errors" class="invalid-feedback">
                          <span *ngIf="form.fromStructureUnitId.errors.required">Please provide a valid fromStructureUnitId.</span>
                        </div>
                      </div>
                    </div>

                    <div class="col-lg-6">
                      <div class="form-group">
                        <label for="toStructureUnitId">To Service</label>
                        <select class="form-control select2" formControlName="toStructureUnitId" id="toStructureUnitId">
                          <option *ngFor='let service of serviceList' value="{{service.id}}">{{service.name}}</option>
                        </select>
                        <div *ngIf="saving && form.toStructureUnitId.errors" class="invalid-feedback">
                          <span *ngIf="form.toStructureUnitId.errors.required">Please provide a valid toStructureUnitId.</span>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="row" id='serviceTransfer'>
                    <div class="col-lg-6">
                      <div class="form-group">
                        <label for="fromStockId">From Stock</label>
                        <select class="form-control select2" formControlName="fromStockId" id="fromStockId">
                          <option *ngFor='let stock of stockList' value="{{stock.id}}">{{stock.name}}</option>
                        </select>
                        <div *ngIf="saving && form.fromStockId.errors" class="invalid-feedback">
                          <span *ngIf="form.fromStockId.errors.required">Please provide a valid fromStockId.</span>
                        </div>
                      </div>
                    </div>

                    <div class="col-lg-6">
                      <div class="form-group">
                        <label for="toStockId">To Stock</label>
                        <select class="form-control select2" formControlName="toStockId" id="toStockId">
                          <option *ngFor='let stock of stockList' value="{{stock.id}}">{{stock.name}}</option>
                        </select>
                        <div *ngIf="saving && form.toStockId.errors" class="invalid-feedback">
                          <span *ngIf="form.toStockId.errors.required">Please provide a valid toStockId.</span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="description">Description</label>
                    <textarea class="form-control" formControlName='description' id="description" rows="5"></textarea>
                  </div>
                </form>
              </div>

              <div class='text-center k-mt-14'>
                <button awNextStep class="btn btn-primary" type="button">Next Step</button>
              </div>
            </aw-wizard-step>

            <aw-wizard-step awOptionalStep stepTitle="Transaction Details">
              <div class="tab-pane" id="product-img">
                <h4 class="card-title">Transaction Details</h4>
                <p class="card-title-desc">enter your products</p>
                <app-transaction-details-create
                  (transactionDetailsSave)='setNewTransactions($event)'>
                </app-transaction-details-create>
              </div>

              <div class='text-center k-mt-14'>
                <button awPreviousStep class="btn btn-primary mr-2 waves-effect" type="button">Go to previous step
                </button>
                <button awNextStep class="btn btn-primary mr-2 waves-effect" type="button">Go to next step</button>
              </div>
            </aw-wizard-step>


            <aw-wizard-step stepTitle="Meta Data">
              <div class="tab-pane" id="metadata">
                <h4 class="card-title">Validation</h4>
                <p class="card-title-desc">Verify that all your data are corrects</p>

                <h1>Validation Phase</h1>

                <div class="text-center k-mt-14">
                  <button (click)='submit()' class="btn btn-primary mr-2 waves-effect waves-light" type="submit">Save
                    Changes
                  </button>
                  <button class="btn btn-light mr-2 waves-effect" type="reset">Cancel</button>
                </div>
              </div>

              <div class="pager wizard twitter-bs-wizard-pager-link text-center k-mt-14">
                <button awPreviousStep class="btn btn-primary">Previous Step</button>
              </div>
            </aw-wizard-step>
          </aw-wizard>
        </div>
      </div>
    </div>
  </div>
</div>
