<div class="topnav">
  <div class="container-fluid">
    <nav class="navbar navbar-light navbar-expand-lg topnav-menu">

      <div class="collapse navbar-collapse" id="topnav-menu-content">
        <ul class="navbar-nav">

          <ng-container *ngFor="let item of menuItems">
            <li class="nav-item dropdown">
              <a (click)="onMenuClick($event)" [routerLink]="item.link" class="nav-link dropdown-toggle arrow-none"
                 href="javascript: void(0);" id="topnav-components" role="button">
                <i class="{{ item.icon }} mr-2"></i>{{ item.label | translate }}
                <div *ngIf="item.subItems"
                     class="arrow-down">
                </div>
              </a>
              <div *ngIf="hasItems(item)" aria-labelledby="topnav-dashboard" class="dropdown-menu row" id="navmenu">
                <ng-template [ngForOf]="item.subItems" let-i="index" let-subitem ngFor>
                  <a *ngIf="!hasItems(subitem)" [routerLink]="subitem.link" class="col dropdown-item side-nav-link-ref"
                     routerLinkActive="active">{{subitem.label | translate}}</a>

                  <div *ngIf="hasItems(subitem)" class="dropdown">
                    <a (click)="onMenuClick($event)" class="dropdown-item">{{ subitem.label | translate}}
                      <div class="arrow-down"></div>
                    </a>
                    <div class="dropdown-menu">
                      <ng-template [ngForOf]="subitem.subItems" let-subSubitem ngFor>
                        <a [routerLink]="subSubitem.link" class="dropdown-item side-nav-link-ref"
                           routerLinkActive="active">{{ subSubitem.label | translate}}</a>
                      </ng-template>
                    </div>
                  </div>
                </ng-template>
              </div>
            </li>
          </ng-container>
          <li class="nav-item dropdown">
            <a (click)="onMenuClick($event)" class="nav-link dropdown-toggle arrow-none" href="javascript: void(0);" id="topnav-layout"
               role="button">
              <i class="ri-layout-3-line mr-2"></i>{{'MENUITEMS.LAYOUTS.TEXT' | translate}}
              <div class="arrow-down">
              </div>
            </a>
            <div aria-labelledby="topnav-layout" class="dropdown-menu dropdown-menu-right">
              <a (click)="changeLayout('vertical')" class="dropdown-item"
                 href="javascript: void(0);">{{ 'MENUITEMS.LAYOUTS.LIST.VERTICAL' | translate}}</a>
              <a (click)="topbarLight()" class="dropdown-item"
                 href="javascript: void(0);">{{ 'MENUITEMS.LAYOUTS.LIST.LIGHTTOPBAR' | translate}}</a>
              <a (click)="boxedWidth()" class="dropdown-item"
                 href="javascript: void(0);">{{ 'MENUITEMS.LAYOUTS.LIST.BOXED' | translate}}</a>
            </div>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</div>
